@using YOSSAPONJ.FUELCOMPARISON.WEB.Pages.FuelPrice.Bangchak
@using YOSSAPONJ.FUELCOMPARISON.WEB.Pages.FuelPrice.Caltex
@using YOSSAPONJ.FUELCOMPARISON.WEB.Pages.FuelPrice.NewCaltex
@inherits FuelPriceBase
<div class="form-group row pb-3">
    <label for="station-filter" class="col-sm-3 col-form-label">Fuel Price from staton</label>
    <div class="col-sm-9">
        <select class="form-control form-select" id="station-filter" @bind="@SelectedStation">
            @foreach (var item in Enum.GetValues(typeof(Station)))
            {
                <option value="@item">@Enum.GetName(typeof(Station), item)</option>
            }
        </select>
    </div>
</div>

@switch (SelectedStation)
{
    case Station.Bangchak:
        <DisplayOil></DisplayOil>
        break;
    case Station.Caltex:
        <DisplayNewCaltexFuel></DisplayNewCaltexFuel>
        break;
    case Station.OldCaltex:
        <DisplayCaltexFuel></DisplayCaltexFuel>
        break;
}

    



